---
import Social from "./Social.astro"
---


<footer>
    <p>
        Reach out to me on the following platforms
        <Social platform = 'twitter/X' username = 'astrodotbuild'/>
        <Social platform = 'github' username = 'withastro'/>
        <Social platform = 'youtube' username = 'astrodotbuild'/>
    </p>
</footer>

<style>
    footer{
        max-width: fit-content;
        margin:  0 auto;
    }
    p{
        color:white;;
        font-weight: bold;
        font-size: 1.2rem;
    }
   
</style>